<div id="vh" class="d-flex align-items-end flex-column">
  
  <div id="vh-center" class="container-fluid d-flex align-items-center justify-content-center">

    <div class="card shadow p-3 bg-white rounded">
      <div class= "card-body ">
        <h2 class="card-title">Sign up</h2>
        
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
              <%= f.label :first_name, class: "mr-2"%>
              <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder:"John" %>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
              <%= f.label :last_name, class: "mr-2"  %>
              <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder:"Doe" %>
            </div>
          </div>

          <div class="form-row">
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12 form-group form-inline">
              <%= f.label :birth_Date, class: "mr-2" %><br>
              <%= f.date_select :birth_Date, {:start_year=>1910}, {class: "form-control mr-2"} %>
            </div>
          </div>

          <div class="form-row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 form-group form-inline">
              <%= f.label :height, class: "mr-2" %>
              <%= f.number_field :height, class: "form-control mr-2", placeholder:"in cm" %>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 form-group form-inline">
              <%= f.label :weight, class: "mr-2" %>
              <%= f.number_field :weight, class: "form-control mr-2", placeholder:"in kg" %>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3 form-group form-inline">
              <%= f.label 'Gender', class: "mr-2" %>
              <%= f.select(:sex, options_for_select([['Male', 1], ['Female', 2], ['Neutral', 3]]), {}, {class: "form-control"}) %>
            </div>
          </div>
          
          <div class="form-row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
              <%= f.label :email, class: "mr-2" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mr-4", placeholder: "johndoe@mail.com" %>
            </div>
          </div>  
          
          <div class="form-row">  
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
              <%= f.label :password, class: "mr-2" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control mr-4" %>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
              <%= f.label :password_confirmation, class: "mr-2" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>

          <div class="actions form-group">
            <%= f.submit "Submit", class: "btn btn-primary mr-2"%>
            <%= link_to 'Back', root_path, class: "btn btn-primary" %>
          </div>
        
        <% end %>

      <!-- <%= render "devise/shared/links" %> -->
      </div>
    </div>
  </div>
  
  <div id="footer_bottom" class="mt-auto"><%= render '/site/footer'%></div>

</div>
