<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white">
  <a class="navbar-brand" href="/"> <%= image_tag "movegroove-logo-sm.png", id: "imgresp" %> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href='/'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#about">About</a>
      </li>
      <% if user_signed_in?%>
        <a href=<%=new_activity_path%> class="nav-item nav-link">New Activity</a>
        <%= link_to 'Activity Tracker', activities_path, class: "nav-item nav-link" %>
      <%end%>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item nav-link dropdown">
          <a class="nav-link font-weight-bolder" href=<%=profile_path%>> Hello <%= current_user.first_name%> </a>
        </li>
      
        <li class="nav-item">
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn-danger mr-auto m-2"%>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class: "nav-item nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-item nav-link"%>
        </li>
      <%end%>
    </ul>
  </div>
</nav>


