<%= form_with model: @activity, local: true do |form| %>
 
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@activity.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @activity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<div class="form-group">
    <%= form.label Activity %>
    <%= form.text_field(:name) %>
</div>

<div class="form-group">
<%= form.label Date %>
<%= form.date_field(:date)  %>
</div>

<div class="form-group">
<%= form.label :duration %>
<%= form.time_field(:duration) %>
</div>

<div class="actions" >
<%= form.submit class: "btn btn-primary"%>
<%= link_to 'Back', activities_path, class: "btn btn-primary" %>
</div>
 
<% end %>