<div class="card shadow p-3 bg-white rounded mx-2">
  <div class="card-body">
    <%= form_with model: @activity, local: true do |f| %>
      
        <% if @activity.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@activity.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @activity.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
      <h2 class="card-title text-primary">Activity</h2>

      <div class="form-group">
        <div class="radio-button-selection d-flex flex-wrap justify-content-center">
          <div >
            <%= f.radio_button(:name, 'swimming')%>
            <%= f.label(:name_swimming, image_tag("swimming.png", alt: "swimming"), class: "m-2 p-2", id:"activity") %>
          </div>

          <div >
            <%= f.radio_button(:name, 'running')%>
            <%= f.label(:name_running, image_tag("running.png", alt: "running"), class: "m-2 p-2", id:"activity") %>
          </div>

          <div >
            <%= f.radio_button(:name, 'badminton')%>
            <%= f.label(:name_badminton, image_tag("badminton.png", alt: "badminton"), class: "m-2 p-2", id:"activity") %>
          </div>

          <div>
            <%= f.radio_button(:name, 'cycling')%>
            <%= f.label(:name_cycling, image_tag("cycling.png", alt: "cycling"), class: "m-2 p-2", id:"activity") %>
          </div>

          <div >
            <%= f.radio_button(:name, 'eliptical')%>
            <%= f.label(:name_eliptical, image_tag("eliptical.png", alt: "eliptical"), class: "m-2 p-2", id:"activity") %>
          </div>

          <div >
            <%= f.radio_button(:name, 'downhill')%>
            <%= f.label(:name_downhill, image_tag("downhill.png", alt: "downhill"), class: "m-2 p-2", id:"activity") %>
          </div>

          <div >
            <%= f.radio_button(:name, 'rowing')%>
            <%= f.label(:name_rowing, image_tag("rowing.png", alt: "rowing"), class: "m-2 p-2", id:"activity") %>
          </div>

          <div >
            <%= f.radio_button(:name, 'hiking')%>
            <%= f.label(:name_hiking, image_tag("hiking.png", alt: "hiking"), class: "m-2 p-2", id:"activity")%>
          </div>

          <div >
            <%= f.radio_button(:name, 'skiing')%>
            <%= f.label(:name_skiing, image_tag("skiing.png", alt: "skiing"), class: "m-2 p-2", id:"activity") %>
          </div>

          <div >
            <%= f.radio_button(:name, 'snowboarding')%>
            <%= f.label(:name_snowboarding, image_tag("snowboarding.png", alt: "snowboarding"), class: "m-2 p-2", id:"activity") %>
          </div>
          

        </div>
      </div>

      <div class="row">
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <%= f.label Date %>
        <%= f.date_field(:date, {class: "form-control"} ) %>
      </div>

      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <%= f.label :duration %>
        <%= f.time_field(:duration, {class: "form-control"} ) %>
      </div>
      </div>

      <div class="actions mt-3" >
        <%= f.submit class: "btn btn-primary m-1"%>
        <%= link_to 'Back', activities_path, class: "btn btn-primary m-1" %>
      </div>
      
      <% end %>
  </div>
  

</div>


